html{
	background-color: PowderBlue;
}

body{
	width: 800px;
	background-color: FloralWhite;
	margin: auto;
	padding: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #696969
}

h1, h2{
	font-family: Georgia, serif;
	color: LightSkyBlue;
	text-shadow: 1px 1px black;
	font-size: 1.5em;
}

section{
	margin-bottom: 40px;
}

/*This changes the height of one image (the recycling bin on the help page) because otherwise it would look stretched*/
#help section img{
	width: 300px;
	height: 300px;
	border: 1px, solid, black;
	padding: 5px;
	border-radius:20px;
}
	
/*This ensures almost all images on a page will be the same size */
img{
	width: 300px;
	height: 175px;
	border: 1px, solid, black;
	padding: 5px;
	border-radius:20px;
}

/*Makes the banner images the same size. This is helpful because your mouse can move in one line across the nav which you wouldn't be able to do if the images were different heights*/
header img{
	width: 795px;
	height: 250px;
	border: 1px, solid, black;
	padding: 2px;
	border-radius: 10px;
}

/*Makes the background + header change colour throughout different pages */
html#home{
	background-color: LightBlue;
}

#home h1{
	color: LightBlue;
}

html#water{
	background-color: Teal;
}

#water h1{
	color: Teal;
}

html#air{
	background-color: BurlyWood;
}

#air h1{
	color: BurlyWood;
}
	
html#land{
	background-color: LightGreen;
}

#land h1{
	color: LightGreen;
}

html#help{
	background-color: ForestGreen;
}

#help h1{
	color: ForestGreen;
}

html#reference{
	background-color: HotPink;
}

#reference h3{
	color: HotPink;
}

#reference h1{
	color: #696969;
}



/*============NAVAGATION==============*/

ul {
  list-style-type: none; /* turn off bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*Changes Colurs for the Nav Background */
#water ul {
  background-color: Teal;
}

#home ul {
  background-color: LightBlue;
}

#air ul {
  background-color: BurlyWood;
}

#land ul {
  background-color: LightGreen;
}

#help ul {
  background-color: ForestGreen;
}

#reference ul {
  list-style-type: none; /* turn off bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#reference ul li {
 background-color: HotPink;
}

ul li {
  float: left;
  border: 1px solid black;
  border-right: none
}

ul li a {
  display: block;
  color: white;
  text-shadow: 1px 1px black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li:last-child { /*Makes the border on the last child (reference) have a border */
   border-right: 1px solid black;
   width:120.3px
}

ul li a:hover:not(.active) { /*changes colour of the tab that the mouse is hovering on to a light grey/* changes colour of active page to a dark grey */
  background-color: #A9A9A9;
}

.active {
  background-color: #696969; /* changes colour of active page to a dark grey */
}

#reference ul li.active {
 background-color: #696969;
}


		