#hover1:hover + #episode1{
	display: block;
	color: white;
}

div#home_map{
	position: relative;
	width: 800px;
	padding-top: 20px;
	margin: auto;
}

area[data-tooltip] {
	position: absolute;
	font-size:1.2em;
}

[data-tooltip]:before,
[data-tooltip]:after {
	display: none;
	position: absolute;
	top: 0;
}

[data-tooltip]:before {
	border-bottom: .6em solid #09f;
	border-bottom: .6em solid rgba(0,153,255,0.8);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	content: "";
	left: 20px;
	margin-top: 1em;
}

area#ep1[data-tooltip]:after {
	left: 200px;
	top: -230px;
	position: absolute;
}

area#ep2[data-tooltip]:after {
    left: 440px;
    top: -385px;
	position: absolute;
}

area#ep3[data-tooltip]:after {
    left: 340px;
    top: -150px;
	position: absolute;
}

[data-tooltip]:after {
	background-color: rgba(0, 0, 0, 0.619);
	color: #e2e2e2;
	content: attr(data-tooltip-label) ":\A" attr(data-tooltip-message);
	left: 0;
	margin-top: 1.5em;
	padding: 5px 15px;
	white-space: pre-wrap;
	width: 200px;
	border-radius: 8px;
	font-family: 'Gothic A1';
  	color: #FFE81F;
  	font-weight: 500;
	font-size: 18px;

}

[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
	display: block;
}
/*
https://codepen.io/trezy/pen/nPmwbw*/

  