/* ---- Style for entire screen ---- */

html {
	background: navy;
}

/* ---- Style for entire body ---- */

body {
	border:1px solid black; 
	width:800px;
	margin:0 auto; 
	padding:0.5em;    
	font-family: Arial, Helvetica, sans-serif;
	background:Lightblue;
	font-size: 1em;
}

/* ---- Style for page header ---- */

header {
	background:navy ;
	background-image: url("banner.png");
	background-repeat: no-repeat;
	

}

header img{
	width: 800px;
}

/* ---- Style for page navigation ---- */

nav {
	background: navy;
	padding-left: 0.5em;
	padding-bottom: 10px;
}

nav a{
 	font-size: 0.8em;
	padding-right:0.8em;
	color:Lightblue;
}

/* ---- Style for main section of body ---- */

section{
	margin:10px 0 10px 0px; 
}

section img{
    width: 350px;
}

/* ---- Style for page footer ---- */

footer {
	height:30px;
	background: navy;
}

footer p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 0.8em;
	padding-top:10px;
	margin:10px 0 0 10px;
	color:Lightblue;
}

