html{
	background-image: url("images/bg-blue.jpg");
}	

body{
	width: 800px;
	background-color: #91f1cb;
	margin: auto;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	border: 5px Solid Green;

	font-size: 1em;
}

header{
		background-color: LightGrey;
		border: 3px solid Green;
		padding: 20px
}

header h1{
	margin: 20px 5px;
}

h1, h2, h3{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}



section{
	padding: 20px;
}

img{
	width: 200px;
}

.sectionLink{
	font-style: italic;
	font-size: 0.9em;
}

footer{
	background-color: LightPink;
	padding: 10px 10px;
}

footer p{
	margin: 0px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/*==========NAVIGATION==========*/
nav{
	background-color: Grey;
	padding: 20px;
}

nav a{
	color: White;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}